body {
  color : white;
  text-shadow : -2px -2px 3px rgba(0,0,0,0.7), 0px 0px 2px rgba(0,0,0,0.555), 3px 3px 4px rgba(0,0,0,0.77);
  text-shadow : inset 1px 1px 3px rgba(0,0,0,0.750), 0px 0px 3px rgba(0,0,0,0.8), 2px 2px 3px rgba(0,0,0,0.8);
}
p { padding : 5px; }
a.backdropped {
  background : rgba(0,0,0,0.555);
  padding : 5px;
  margin : 4px;
  border-radius : 8px;
  line-height : 1.2em;
  vertical-align : inherit;
  display : inline-block;
  text-wrap : nowrap;
}
li { margin : 10px; }
a { color : skyblue; padding : 3px; margin : 4px; background : rgba(0,0,0,0.7); border-radius:5px; }
a:visited { color : rgba(50,150,50,1); }
a:hover { color: #0095DD; pointer-events: all;}
a.contentSectionTitle3_a { position : relative; display : flex; justify-content : left; align-items : center; width : fit-content; padding : 5px; }
h1.contentSectionTitle1 { position : relative; display : flex; justify-content : left; align-items : center; width : fit-content; padding : 5px; }
.contentSectionTitle1_span, .animatedText_orangeYellow, .naPageTitle { color : yellow; }
h2.contentSectionTitle2 { position : relative; display : flex; justify-content : left; align-items : center; width : fit-content; padding : 5px; }
.contentSectionTitle2_span, .animatedText_blue, .naExternalLink { color : #0077FF; }
h3.contentSectionTitle3 { position : relative; display : flex; justify-content : left; align-items : center; width:fit-content; padding : 5px; }
.contentSectionTitle3_span, .animatedText_green, .naInternalLink { color : #00FF77; }

.vividButton a, .vividButton.selected a, .vividButtonSelected a {
  color : lime;
  text-decoration : none;
}

/*
@keyframes move-bg {
  to {
    background-position: var(--bg-size) 0;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .boujee-text {
    animation: move-bg 8s infinite cubic-bezier(0.11, 0, 0.5, 0);
  }
  @keyframes move-bg {
    to {
      background-position: var(--bg-size) 0;
    }
  }
}
.contentSectionTitle1_span, .animatedText_orangeYellow, .naPageTitle {
  --bg-size: 400%;
  --color-one-orangeYellow: orange;
  --color-two-orangeYellow: yellow;
  background: linear-gradient(
                315deg,
                var(--color-one-orangeYellow),
                var(--color-two-orangeYellow),
                var(--color-one-orangeYellow)
              ) 0 0 / var(--bg-size) 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: move-bg 8s infinite cubic-bezier(0.11, 0, 0.5, 0);
  text-shadow : 3px 3px 2px rgba(0,0,0,0.4), 0px 0px 3px rgba(255,255,255,0.35);
  font-weight : bold;
  position : relative;
}
.contentSectionTitle2_span, .animatedText_blue, .naExternalLink {
  --bg-size: 400%;
  --color-one-blue: #005070;
  --color-two-blue: #0077FF;
  background: linear-gradient(
                315deg,
                var(--color-one-blue),
                var(--color-two-blue),
                var(--color-one-blue)
              ) 0 0 / var(--bg-size) 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: move-bg 8s infinite cubic-bezier(0.11, 0, 0.5, 0);
  text-shadow : 0px 0px 2px rgba(255,255,255,0.3), 3px 3px 2px rgba(0,0,0,0.5);
  position : relative;
}
.contentSectionTitle3_span, .animatedText_green, .naInternalLink {
  --bg-size: 400%;
  --color-one-green: #007050;
  --color-two-green: #00FF77;
  background: linear-gradient(
                315deg,
                var(--color-one-green),
                var(--color-two-green),
                var(--color-one-green)
              ) 0 0 / var(--bg-size) 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: move-bg 8s infinite cubic-bezier(0.11, 0, 0.5, 0);
  text-shadow : 0px 0px 3px rgba(255,255,255,0.4), 3px 3px 3px rgba(0,0,0,0.8);
  position : relative;
}

.contentSectionTitle3_a {
  text-decoration : none;
}
.contentSectionTitle3_a h3 {
    color : transparent;
}
.contentSectionTitle3_a span {
  --bg-size: 400%;
  --color-n-lime : lime;
  --color-np1-cyan : cyan;
  background: linear-gradient(
                135deg,
                var(--color-n-lime),
                var(--color-np1-cyan),
                var(--color-n-lime)
              ) 0 0 / var(--bg-size) 100%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: move-bg 5s infinite cubic-bezier(0.11, 0, 0.5, 0);
  text-shadow : 2px 2px 2px rgba(0,0,0,0.55);
  position : relative;
}
.contentSectionTitle3_a:visited span {
  --bg-size: 400%;
  --color-one-grey : #BBB;
  --color-two-white : #FFFFFF;
  background: linear-gradient(
                315deg,
                var(--color-one-grey),
                var(--color-two-white),
                var(--color-one-grey)
              ) 0 0 / var(--bg-size) 100%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: move-bg 5s infinite cubic-bezier(0.11, 0, 0.5, 0);
  text-shadow : 2px 2px 2px rgba(0,0,0,0.55);
  position : relative;
}
.contentSectionTitle3_a:hover span {
  --bg-size: 400%;
  --color-one-lime : lime;
  --color-two-yellow : yellow;
  background: linear-gradient(
                90deg,
                var(--color-one-lime),
                var(--color-two-yellow),
                var(--color-one-lime)
              ) 0 0 / var(--bg-size) 100%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: move-bg 5s infinite cubic-bezier(0.11, 0, 0.5, 0);
  text-shadow : 2px 2px 2px rgba(0,0,0,0.55);
  position : relative;
}



.contentSection1_span, .animatedText_ivory, .naText {
  --bg-size: 400%;
  --color-one-ivory: ivory;
  --color-two-ivory: pink;
  background: linear-gradient(
                315deg,
                var(--color-one-ivory),
                var(--color-two-ivory),
                var(--color-one-ivory)
              ) 0 0 / var(--bg-size) 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: move-bg 8s infinite cubic-bezier(0.11, 0, 0.5, 0);
  text-shadow : 0px 0px 3px rgba(255,255,255,0.4), 3px 3px 3px rgba(0,0,0,0.8);
  position : relative;
}
*/

.preDirsList {
  color : lime;
  background : rgba(0,0,78,0.555);
  border-radius : 5px;
  margin : 5px;
  padding : 5px;
}
.preFilesList {
  color : white;
  background : rgba(0,0,250,0.555);
  border-radius : 5px;
  margin : 5px;
  padding : 5px;
}


